* {
    padding: 0;
    margin: 0;
}
/**************************         List          **************************/

.ListDiv {
    height: 400px;
    border: 1px solid black;
    overflow-y: scroll;
    margin: 20px;
    text-align: left;
}

.ListDiv li :not(:first-child) {
    padding: 15px 0 0 10px;
}

.ListDiv li :first-child {
    padding: 10px 0 0 10px;
}
.ListDiv li{
    display: flex;
    align-items: center;
}
.ListDiv ul{
    list-style: none;
}
.Listh3{
    margin: 15px;
}

/**************************         Logo          **************************/

.LogoDiv{
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    font-weight: 450;
    font-size: 25px;
    margin-right: 15px;
    background-position: center center;
    background-size: 100% 100%;
}
.LogoDiv Span:first-child{
    padding: 5px;
    left: 15px;
    top: 2px;
    position: absolute;
}